.BattleSquare {
	width: 30px;
	height: 30px;
	border: 1px solid black;
}

.isMiss {
	background: lightblue;
}

.isSelected {
	background: lightgreen;
}

.isHit {
	background: red;
}

.isShipOn {
	background: lightgray;
}